@import '../../styles/utils/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 3px solid #0078ef;

    &__logo {
        width: 100px;
    }

    &__nav {
        &__list {
            display: flex;
        }

        &__item {
            margin-right: 1rem;
        }
    }
}
