@keyframes cursor {
  0% {
    border-right: 2px solid rgba(255, 255, 255, 1);
  }
  50% {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 2px solid rgba(255, 255, 255, 1);
  }
}

@keyframes slowCursor {
  0% {
    border-right: 2px solid rgba(255, 255, 255, 1);
  }
  70% {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 2px solid rgba(255, 255, 255, 1);
  }
}

.type-writing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 0.6s ease infinite;
}

.slow-cursor {
  animation: slowCursor 1s ease infinite;
}

/* _animations.scss */

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
