/* Flex center */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Neumorphisme box*/
@mixin neumorphism-shadow($shadow-depth, $direction-light, $direction-dark) {
  $light-shadow-x: -$shadow-depth * cos($direction-light);
  $light-shadow-y: $shadow-depth * sin($direction-light);

  $dark-shadow-x: $shadow-depth * cos($direction-dark);
  $dark-shadow-y: $shadow-depth * sin($direction-dark);

  box-shadow: #{$light-shadow-x} #{$light-shadow-y} $shadow-depth
      $light-shadow-color,
    #{$dark-shadow-x} #{$dark-shadow-y} $shadow-depth $dark-shadow-color;
}

@function multiple-box-shadow($n, $color) {
  $value: "#{random(2000)}px #{random(2000)}px #{$color}";
  @for $i from 2 through $n {
    $value: "#{$value}, #{random(2000)}px #{random(2000)}px #{$color}";
  }
  @return unquote($value);
}

@mixin generate-stars($star-size, $star-count, $animation-duration) {
  width: $star-size;
  height: $star-size;
  background: transparent;
  box-shadow: multiple-box-shadow($star-count, $stars-color);
  animation: animStar $animation-duration linear infinite;

  &:after {
    content: "";
    position: absolute;
    top: 2000px;
    width: $star-size;
    height: $star-size;
    background: transparent;
    box-shadow: multiple-box-shadow($star-count, $stars-color);
  }
}
