/* Base */
$background-color: hsla(264, 38%, 5%, 1);
$background-color-light: hsla(252, 59%, 18%, 1);
$primary: #11998e;

/* Blue Palette */
$blue-dark: hsla(210, 40%, 18%, 1);
$blue: hsla(210, 64%, 80%, 0.8);
$light-sky-blue: hsla(204, 95%, 80%, 1);

/* Pastel & neutres */
$yale-blue: hsla(210, 100%, 22%, 1);
$rich-black: hsla(211, 53%, 11%, 1);
$platinum: hsla(75, 6%, 87%, 1);
$platinum-light: rgba(223, 224, 220, 0.8);

/* Border Radius */
$radius-round: 50%;
$radius-small: 5px;
$radius-medium: 10px;
$radius-large: 20px;

/* Width */
$width-full: 100%;
$width-max: 95%;
$width-big: 75%;
$width-middle: 50%;
$width-small: 25%;

/* Ombres */
$light-shadow-color: rgba(255, 255, 255, 0.8);
$dark-shadow-color: rgba(0, 0, 0, 0.2);
$shadow-depth: 5px;

/* Stars */
$stars-color: #fff;
$stars-small-count: 700;
$stars-medium-count: 200;
$stars-large-count: 100;
$stars-animation-duration-small: 50s;
$stars-animation-duration-medium: 100s;
$stars-animation-duration-large: 150s;
