/* Base */
$creme-color: hsla(48, 100%, 97%, 1);
$background-color: hsla(264, 38%, 5%, 1);
$purple: #8974fb;
$light-purple: #c784dd;
$background-color-light: hsla(252, 59%, 18%, 1);

/* Blue Palette */
$blue-dark: hsla(210, 40%, 18%, 1);
$blue-medium: hsla(210, 49%, 28%, 1);
$blue: hsla(210, 64%, 80%, 0.8);
$blue-light: hsla(210, 92%, 91%, 1);
$blue-pastel: hsla(210, 90%, 96%, 1);

/* Pastel 1 */
$yale-blue: hsla(210, 100%, 22%, 1);
$fairy-tale: hsla(340, 100%, 86%, 1);
$naples-yellow: hsla(45, 86%, 66%, 1);
$uranian-blue: hsla(204, 100%, 90%, 1);
$light-sky-blue: hsla(204, 95%, 80%, 1);

/* Pastel 2 */
$mimi-pink: hsla(336, 56%, 88%, 1);
$alice-blue: hsla(199, 61%, 91%, 1);
$light-sky-blue: hsla(204, 95%, 80%, 1);
$jordy-blue: hsla(202, 100%, 75%, 1);
$aquamarine: hsla(168, 100%, 75%, 1);

/* Dark Blue */
$rich-black: hsla(211, 53%, 11%, 1);
$oxford-blue: hsla(219, 37%, 17%, 1);
$yinmn-blue: hsla(212, 29%, 36%, 1);
$silver-lake-blue: hsla(214, 23%, 56%, 1);
$platinum: hsla(75, 6%, 87%, 1);

/* Border Radius */
$radius-round: 50%;
$radius-small: 5px;
$radius-medium: 10px;
$radius-large: 20px;

/* Width */
$width-full: 100%;
$width-max: 95%;
$width-big: 75%;
$width-middle: 50%;
$width-small: 25%;

/* Variables de couleur ombres*/
$light-shadow-color: rgba(255, 255, 255, 0.8);
$dark-shadow-color: rgba(0, 0, 0, 0.2);

/* Profondeur de l'ombre */
$shadow-depth: 5px;
