@charset "UTF-8";
/* Base */
/* Blue Palette */
/* Pastel 1 */
/* Pastel 2 */
/* Dark Blue */
/* Border Radius */
/* Width */
/* Variables de couleur ombres*/
/* Profondeur de l'ombre */
/* _variables.scss */
/* Flex center */
/* Neumorphisme box*/
/* _mixins.scss */
* {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ol,
ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

li {
  list-style: none;
}

/* Body */
body {
  font-family: "Chillax-Regular", sans-serif;
  color: hsl(75, 6%, 87%);
  max-width: 100vw;
  background-image: url(../assets/images/a.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /*   background-color: $background-color;
  */
  /*   background: rgb(37, 28, 107);
  background: linear-gradient(
    0deg,
    rgba(37, 28, 107, 1) 0%,
    rgba(35, 25, 92, 1) 25%,
    rgba(31, 23, 80, 1) 40%,
    rgba(27, 19, 66, 1) 55%,
    rgba(25, 19, 63, 1) 70%,
    rgba(22, 16, 54, 1) 85%,
    rgba(14, 11, 26, 1) 100%
  ); */
  /* Links */
  /* Section */
}
body a {
  color: black;
  text-decoration: none;
}
body section {
  margin: 0 auto;
  /*     height: 100vh;
  */
}

button {
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

/* Allan */
@font-face {
  font-family: "Allan-Regular";
  src: url("../assets/fonts/Allan/allan-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Allan-Bold";
  src: url("../assets/fonts/Allan/allan-700.ttf") format("truetype");
}
/* Chillax */
@font-face {
  font-family: "Chillax-Regular";
  src: url("../assets/fonts/Chillax/Chillax-Regular.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Regular.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Medium";
  src: url("../assets/fonts/Chillax/Chillax-Medium.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Medium.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Semibold";
  src: url("../assets/fonts/Chillax/Chillax-Semibold.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Semibold.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Bold";
  src: url("../assets/fonts/Chillax/Chillax-Bold.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Bold.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Variable";
  src: url("../assets/fonts/Chillax/Chillax-Variable.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Variable.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
/* Dongle */
@font-face {
  font-family: "Dongle-Light";
  src: url("../assets/fonts/Dongle/Dongle-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Dongle-Regular";
  src: url("../assets/fonts/Dongle/Dongle-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Dongle-Bold";
  src: url("../assets/fonts/Dongle/Dongle-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* Nohemi */
@font-face {
  font-family: "Nohemi";
  src: url("../assets/fonts/Nohemi/Nohemi-Regular.ttf") format("truetype"), url("../assets/fonts/Nohemi//Nohemi-Regular.woff2") format("woff2"), url("../assets/fonts/Nohemi//Nohemi-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@keyframes cursor {
  0% {
    border-right: 2px solid rgb(255, 255, 255);
  }
  50% {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 2px solid rgb(255, 255, 255);
  }
}
@keyframes slowCursor {
  0% {
    border-right: 2px solid rgb(255, 255, 255);
  }
  70% {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 2px solid rgb(255, 255, 255);
  }
}
.type-writing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 0.6s ease infinite;
}

.slow-cursor {
  animation: slowCursor 1s ease infinite;
}

/* _animations.scss */
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 0;
  transition: padding 0.6s ease-in-out; /* Ajout de la transition pour le padding */
}
.header__container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 50px;
}
.header__container__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container__logo-link {
  display: block;
  height: 4rem;
}
.header__container__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}
.header__container__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container__nav {
  display: flex;
}
.header__container__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.header__container__nav-item {
  padding: 0 1rem;
  border-radius: 10px;
  background-color: hsl(264, 38%, 5%);
  box-shadow: -4.3301270189px -2.5px 5px rgba(255, 255, 255, 0.8), -4.3301270189px 2.5px 5px rgba(0, 0, 0, 0.2);
}
.header__container__nav-link {
  color: hsl(75, 6%, 87%);
  font-family: "Chillax-Variable", sans-serif;
  font-size: 1rem;
}

.scrolled {
  background-color: hsla(210, 90%, 96%, 0.3);
  transition: background-color 0.6s ease-in-out, padding 0.6s ease-in-out;
  padding: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Home */
.home {
  display: flex;
  color: hsl(75, 6%, 87%);
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.home__content {
  text-shadow: 4px 4px 5px hsl(264, 38%, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}
.home__title {
  font-family: "Allan-Regular", sans-serif;
  font-size: 5rem;
}
.home__title--description {
  font-family: "Nohemi", sans-serif;
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.home__image-container {
  position: relative;
  width: 50%;
  display: flex;
  align-items: end;
}
.home__image-container--image-bg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home .ordinateur {
  position: absolute;
  top: 100px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-out;
  z-index: 1;
}
.home .astronaut {
  position: absolute;
  top: 100px;
  right: -100px;
  width: 30%;
  height: auto;
  object-fit: cover;
}
.home .moon {
  position: absolute;
  top: 100px;
  right: 500px;
  width: 10%;
  height: auto;
  object-fit: cover;
  z-index: 2;
}
.home .saturne {
  position: absolute;
  top: 300px;
  right: 600px;
  width: 25%;
  height: auto;
  object-fit: cover;
}
.home .earth {
  position: absolute;
  top: 500px;
  right: 150px;
  width: 12%;
  height: auto;
  object-fit: cover;
}

/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.about__content {
  background-color: hsl(75, 6%, 87%);
  color: hsl(264, 38%, 5%);
  font-size: 2rem;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about__text {
  width: 50%;
  box-shadow: -4.3301270189px -2.5px 5px rgba(255, 255, 255, 0.8), -4.3301270189px 2.5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
}
.about__title {
  font-family: "Allan-Regular", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 25px;
}
.about__description {
  font-family: "Chillax-Variable", sans-serif;
  font-size: 1.5rem;
}
.about__image-container {
  height: 100%;
  position: relative;
}
.about__image {
  max-height: 450px;
  width: auto;
  filter: drop-shadow(8px 15px 10px hsl(264, 38%, 5%));
  transition: transform 0.1s ease-out;
}
.about .image2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-out;
}

/* Skills */
.skills__content {
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 5rem auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.skills__content:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 60px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform: translateY(-10px);
  color: hsl(204, 95%, 80%);
}
.skills__title {
  font-family: "Allan-Regular", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 25px;
}
.skills__category {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 4rem;
}
.skills__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.skills__list__title, .skills__list__title {
  font-family: "Chillax-Semibold", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 25px;
  text-align: start;
}
.skills .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills #technology-list {
  display: flex;
  flex-wrap: wrap;
}
.skills .progress-bars {
  width: 50%;
  position: relative;
}
.skills--tools {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  gap: 3rem;
}
.skills--tools__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  border-radius: 10px;
}
.skills--tools__container:hover {
  transform: scale(1.1);
  background-color: hsl(252, 59%, 18%);
  transition: transform 0.3s ease, background-color 0.9s ease;
  padding: 10px 3px 10px 3px;
  box-shadow: 5px 5px 40px rgba(19, 0, 48, 0.679);
  border: 1px solid hsla(210, 64%, 80%, 0.8);
}
.skills--tools__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.skills--tools__list__title {
  font-family: "Chillax-Semibold", sans-serif;
  margin-bottom: 25px;
  text-align: start;
}
.skills--tools li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.skills--tools li:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Projects */
.projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.projects__title {
  font-family: "Allan-Regular", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.projects .projects-list {
  width: 75%;
  margin: 0 auto;
}
.projects .projects-list__project {
  perspective: 1000px;
  position: relative;
  width: 30%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
  background-color: hsl(252, 59%, 18%);
  box-shadow: -4.33px -2.5px 5px rgba(255, 255, 255, 0.8), -4.33px 2.5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.projects .projects-list__project:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.projects .projects-list__project__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.4s ease;
  border-radius: 10px;
}
.projects .projects-list__project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: 10px;
}
.projects .projects-list__project .overlay__title {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.projects .projects-list__project:hover .overlay {
  opacity: 1;
  font-family: "Chillax-Semibold", sans-serif;
}
.projects .projects-list__project:hover .overlay__title {
  opacity: 1;
}
.projects .projects-list__project--large {
  width: 30%;
}
.projects .projects-list__project--small {
  width: 15%;
}

/* .active {
} */
/* Project Content */
.project-content {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  border: 2px solid hsl(210, 40%, 18%);
  border-radius: 5px;
  padding: 5px 0 10px 0;
  box-shadow: 0 12px 22px 4px rgba(0, 0, 0, 0.24);
}
.project-content__title {
  font-family: "Allan-Regular", sans-serif;
  font-size: 2.5rem;
  margin: 2rem;
  text-align: center;
  color: hsl(210, 100%, 22%);
}
.project-content__description {
  font-family: "Chillax-Variable", sans-serif;
  font-size: 1rem;
  text-align: center;
  color: hsl(211, 53%, 11%);
}
.project-content__role {
  font-family: "Chillax-Variable", sans-serif;
  margin: 2rem;
  text-align: center;
  color: hsl(211, 53%, 11%);
}
.project-content__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.project-content__link-container button {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: hsl(210, 100%, 22%);
  color: hsl(75, 6%, 87%);
  font-family: "Chillax-Variable", sans-serif;
  font-size: 0.7rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Drawer */
.drawer {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: transparent;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
.drawer__close-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  width: 100%;
}
.drawer__close {
  font-size: 2rem;
  border: none;
  margin-right: 10px;
}

.drawer.open {
  right: 0;
}

.main__container {
  transition: margin-right 0.3s ease;
  margin-right: 0;
}

.main__container.drawer-open {
  margin-right: 300px;
}

/* Contact */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 0;
}
.contact__content {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 50%;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.contact__content:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 60px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  transform: translateY(-10px);
  color: hsl(204, 95%, 80%);
}
.contact__title {
  font-family: "Allan-Regular", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: hsl(75, 6%, 87%);
}
.contact .form-input {
  position: relative;
  padding: 15px 0;
  margin-bottom: 2rem;
  width: 100%;
}
.contact .form-name,
.contact .form-email,
.contact .form-message {
  width: 100%;
  border: none;
  border-bottom: 2px solid hsla(210, 64%, 80%, 0.8);
  outline: none;
  font-size: 1.3rem;
  color: hsl(75, 6%, 87%);
  background: transparent;
  padding: 10px 0;
  transition: border-color 0.3s;
}
.contact .form-name::placeholder,
.contact .form-email::placeholder,
.contact .form-message::placeholder {
  color: transparent;
}
.contact .form-name:focus,
.contact .form-email:focus,
.contact .form-message:focus {
  border-color: #11998e;
  font-weight: bold;
}
.contact .form-name:focus + label,
.contact .form-email:focus + label,
.contact .form-message:focus + label {
  color: #11998e;
  font-size: 1rem;
  top: -20px;
}
.contact .form-name-label,
.contact .form-email-label,
.contact .form-message-label {
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(75, 6%, 87%);
  font-size: 1.3rem;
  transition: 0.3s;
  pointer-events: none;
}
.contact .form-input input:focus ~ .form-name-label,
.contact .form-input input:focus ~ .form-email-label,
.contact .form-input textarea:focus ~ .form-message-label {
  top: -20px;
  font-size: 1rem;
  color: #11998e;
  font-weight: bold;
}
.contact__form-button {
  display: inline-block;
  background-color: #11998e;
  color: hsl(75, 6%, 87%);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact__form-button:hover {
  background-color: #0c6b63;
}

/* Footer */
.footer {
  background: hsl(210, 40%, 18%);
  color: hsl(75, 6%, 87%);
  font-size: 1rem;
  font-family: "Chillax-Variable", sans-serif;
  position: relative;
  z-index: 1000;
  padding: 2rem 0;
  margin-top: 20px;
  overflow: hidden;
  /* Intégration des étoiles */
}
.footer #stars,
.footer #stars2,
.footer #stars3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.footer #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 846px 1530px #fff, 1834px 672px #fff, 728px 48px #fff, 154px 1540px #fff, 930px 1341px #fff, 382px 777px #fff, 1314px 317px #fff, 519px 1620px #fff, 884px 1434px #fff, 1103px 1648px #fff, 302px 1631px #fff, 292px 518px #fff, 1561px 669px #fff, 819px 259px #fff, 914px 824px #fff, 1157px 1508px #fff, 349px 1858px #fff, 1538px 1695px #fff, 696px 839px #fff, 1578px 754px #fff, 682px 838px #fff, 576px 1562px #fff, 972px 1411px #fff, 957px 1612px #fff, 335px 1261px #fff, 707px 1644px #fff, 595px 601px #fff, 804px 1938px #fff, 1956px 753px #fff, 1161px 826px #fff, 624px 1203px #fff, 1206px 587px #fff, 1903px 1380px #fff, 901px 1550px #fff, 1452px 1654px #fff, 1189px 1027px #fff, 753px 150px #fff, 1544px 705px #fff, 1046px 1116px #fff, 769px 226px #fff, 378px 1974px #fff, 1198px 474px #fff, 1339px 1319px #fff, 176px 1307px #fff, 567px 1121px #fff, 1076px 203px #fff, 1022px 1882px #fff, 1941px 736px #fff, 1863px 1734px #fff, 1109px 887px #fff, 1472px 652px #fff, 133px 737px #fff, 1326px 1007px #fff, 100px 221px #fff, 1212px 573px #fff, 120px 160px #fff, 1500px 340px #fff, 1897px 230px #fff, 103px 981px #fff, 569px 1034px #fff, 1101px 593px #fff, 1406px 515px #fff, 1049px 1481px #fff, 610px 1248px #fff, 251px 1657px #fff, 631px 1796px #fff, 418px 129px #fff, 1646px 1741px #fff, 1757px 1224px #fff, 1032px 603px #fff, 509px 567px #fff, 575px 1504px #fff, 1042px 1275px #fff, 1841px 1897px #fff, 318px 1773px #fff, 83px 225px #fff, 508px 141px #fff, 1189px 1085px #fff, 1273px 1217px #fff, 1307px 1560px #fff, 1864px 777px #fff, 605px 984px #fff, 246px 893px #fff, 1707px 214px #fff, 767px 1763px #fff, 1497px 1499px #fff, 836px 562px #fff, 1529px 123px #fff, 1292px 1078px #fff, 1497px 1909px #fff, 586px 219px #fff, 213px 1663px #fff, 680px 1426px #fff, 1549px 1798px #fff, 1741px 763px #fff, 831px 1742px #fff, 651px 793px #fff, 1202px 1936px #fff, 195px 964px #fff, 925px 907px #fff, 323px 505px #fff, 699px 1611px #fff, 1213px 139px #fff, 1863px 850px #fff, 721px 1895px #fff, 1356px 876px #fff, 1129px 1374px #fff, 619px 1526px #fff, 1135px 1688px #fff, 135px 1053px #fff, 1098px 1612px #fff, 1971px 1972px #fff, 1250px 312px #fff, 1529px 209px #fff, 1219px 1949px #fff, 1609px 864px #fff, 1863px 1457px #fff, 648px 1651px #fff, 1130px 1488px #fff, 200px 1447px #fff, 1503px 966px #fff, 490px 1177px #fff, 799px 1587px #fff, 229px 1696px #fff, 549px 1484px #fff, 1511px 1304px #fff, 273px 108px #fff, 1969px 1821px #fff, 296px 1759px #fff, 324px 1476px #fff, 155px 1486px #fff, 1641px 189px #fff, 1075px 549px #fff, 346px 1643px #fff, 384px 1341px #fff, 1251px 1810px #fff, 1781px 456px #fff, 1188px 1674px #fff, 424px 493px #fff, 1133px 1326px #fff, 1314px 1851px #fff, 1758px 1061px #fff, 1044px 1294px #fff, 1158px 260px #fff, 529px 267px #fff, 1931px 1190px #fff, 207px 225px #fff, 1372px 52px #fff, 1095px 1718px #fff, 248px 1056px #fff, 292px 1108px #fff, 1961px 1293px #fff, 1412px 857px #fff, 1418px 1681px #fff, 26px 1302px #fff, 666px 1766px #fff, 1515px 521px #fff, 781px 1312px #fff, 1309px 253px #fff, 1370px 416px #fff, 1201px 1679px #fff, 1848px 1390px #fff, 959px 2000px #fff, 1083px 1347px #fff, 63px 1913px #fff, 620px 1998px #fff, 1650px 1418px #fff, 230px 199px #fff, 1457px 875px #fff, 1843px 528px #fff, 1203px 810px #fff, 617px 875px #fff, 1533px 925px #fff, 767px 869px #fff, 125px 372px #fff, 1707px 1271px #fff, 851px 910px #fff, 531px 1060px #fff, 1559px 978px #fff, 364px 1562px #fff, 1368px 1365px #fff, 635px 101px #fff, 1083px 1387px #fff, 1379px 1784px #fff, 1338px 1206px #fff, 544px 520px #fff, 1959px 736px #fff, 248px 1497px #fff, 609px 296px #fff, 1079px 1416px #fff, 826px 606px #fff, 229px 168px #fff, 1523px 921px #fff, 1333px 1007px #fff, 4px 31px #fff, 1742px 499px #fff, 569px 1697px #fff, 469px 1380px #fff, 583px 363px #fff, 1030px 781px #fff, 286px 997px #fff, 1739px 680px #fff, 929px 1933px #fff, 639px 1128px #fff, 1307px 1443px #fff, 1742px 1078px #fff, 1258px 837px #fff, 628px 1946px #fff, 141px 1654px #fff, 333px 598px #fff, 1422px 1665px #fff, 694px 1834px #fff, 839px 1328px #fff, 1156px 196px #fff, 1470px 1782px #fff, 1873px 493px #fff, 1874px 1857px #fff, 405px 1509px #fff, 1590px 863px #fff, 1356px 105px #fff, 328px 1380px #fff, 961px 206px #fff, 995px 1783px #fff, 447px 36px #fff, 359px 1890px #fff, 107px 940px #fff, 1684px 790px #fff, 945px 1007px #fff, 653px 43px #fff, 1160px 90px #fff, 1797px 1451px #fff, 847px 1693px #fff, 404px 1217px #fff, 426px 1264px #fff, 194px 1076px #fff, 399px 229px #fff, 1762px 1427px #fff, 256px 1892px #fff, 1981px 1990px #fff, 1122px 283px #fff, 1299px 1406px #fff, 593px 699px #fff, 1635px 528px #fff, 493px 1141px #fff, 633px 441px #fff, 1779px 7px #fff, 132px 304px #fff, 151px 1258px #fff, 1380px 689px #fff, 962px 1390px #fff, 1394px 1884px #fff, 1633px 1370px #fff, 785px 1600px #fff, 767px 1287px #fff, 1673px 782px #fff, 576px 1613px #fff, 1455px 1471px #fff, 461px 1766px #fff, 1375px 1725px #fff, 38px 1002px #fff, 1409px 125px #fff, 674px 1843px #fff, 301px 770px #fff, 1183px 1132px #fff, 1199px 346px #fff, 1818px 763px #fff, 398px 1818px #fff, 100px 116px #fff, 1103px 1581px #fff, 1854px 569px #fff, 1531px 999px #fff, 839px 1866px #fff, 1120px 280px #fff, 514px 1043px #fff, 312px 107px #fff, 602px 1631px #fff, 816px 754px #fff, 1164px 359px #fff, 15px 396px #fff, 1286px 1026px #fff, 551px 1538px #fff, 1363px 461px #fff, 1984px 1522px #fff, 1142px 1660px #fff, 77px 1841px #fff, 1270px 255px #fff, 404px 1450px #fff, 1044px 859px #fff, 1937px 1360px #fff, 963px 1824px #fff, 1613px 1511px #fff, 1575px 1084px #fff, 124px 1008px #fff, 1761px 567px #fff, 22px 177px #fff, 1083px 1489px #fff, 189px 710px #fff, 865px 48px #fff, 89px 1694px #fff, 1613px 413px #fff, 663px 1310px #fff, 1727px 855px #fff, 443px 332px #fff, 38px 1404px #fff, 22px 856px #fff, 1704px 1727px #fff, 1497px 1429px #fff, 1910px 71px #fff, 1563px 1254px #fff, 57px 715px #fff, 1398px 754px #fff, 43px 834px #fff, 883px 379px #fff, 1712px 1931px #fff, 1724px 713px #fff, 198px 86px #fff, 1760px 108px #fff, 315px 411px #fff, 1874px 396px #fff, 730px 1616px #fff, 1255px 628px #fff, 1978px 501px #fff, 485px 1299px #fff, 190px 1583px #fff, 1787px 580px #fff, 161px 843px #fff, 668px 1735px #fff, 1721px 695px #fff, 105px 1773px #fff, 778px 566px #fff, 435px 1260px #fff, 458px 1119px #fff, 257px 1641px #fff, 888px 1383px #fff, 1294px 215px #fff, 1696px 245px #fff, 997px 612px #fff, 7px 384px #fff, 219px 661px #fff, 376px 1402px #fff, 954px 428px #fff, 208px 652px #fff, 310px 242px #fff, 1534px 1509px #fff, 338px 933px #fff, 1264px 1136px #fff, 1469px 1720px #fff, 603px 1053px #fff, 416px 38px #fff, 849px 1336px #fff, 1903px 658px #fff, 186px 340px #fff, 960px 1467px #fff, 1320px 1602px #fff, 228px 498px #fff, 607px 385px #fff, 1338px 1611px #fff, 991px 451px #fff, 1943px 1373px #fff, 1592px 1952px #fff, 1435px 277px #fff, 222px 1575px #fff, 1336px 737px #fff, 1847px 1355px #fff, 416px 768px #fff, 1280px 1681px #fff, 1873px 1777px #fff, 1337px 1241px #fff, 296px 1719px #fff, 878px 431px #fff, 88px 1337px #fff, 612px 69px #fff, 1980px 577px #fff, 1671px 1387px #fff, 1399px 1307px #fff, 1648px 1768px #fff, 875px 1829px #fff, 1127px 987px #fff, 1271px 1736px #fff, 659px 1236px #fff, 1069px 1177px #fff, 239px 185px #fff, 713px 1634px #fff, 1416px 329px #fff, 1973px 1571px #fff, 1358px 476px #fff, 1074px 1586px #fff, 1290px 1348px #fff, 1499px 785px #fff, 1141px 282px #fff, 357px 516px #fff, 67px 1623px #fff, 1733px 1215px #fff, 295px 1381px #fff, 1636px 125px #fff, 1517px 225px #fff, 1493px 138px #fff, 396px 393px #fff, 1131px 877px #fff, 1235px 1957px #fff, 1359px 453px #fff, 1203px 351px #fff, 1725px 1646px #fff, 697px 1444px #fff, 1851px 1066px #fff, 71px 984px #fff, 788px 1448px #fff, 888px 946px #fff, 276px 355px #fff, 1300px 1369px #fff, 728px 220px #fff, 1034px 1148px #fff, 1831px 625px #fff, 364px 1620px #fff, 867px 1884px #fff, 838px 1459px #fff, 2000px 532px #fff, 1614px 59px #fff, 1523px 562px #fff, 388px 1020px #fff, 225px 1812px #fff, 713px 1144px #fff, 1194px 633px #fff, 778px 1567px #fff, 667px 434px #fff, 260px 1993px #fff, 95px 611px #fff, 1375px 696px #fff, 32px 139px #fff, 1297px 1345px #fff, 159px 146px #fff, 341px 425px #fff, 1923px 299px #fff, 627px 1930px #fff, 1173px 620px #fff, 334px 946px #fff, 822px 1368px #fff, 929px 491px #fff, 942px 1154px #fff, 1048px 1474px #fff, 826px 483px #fff, 1343px 1990px #fff, 1085px 1495px #fff, 1684px 8px #fff, 646px 1231px #fff, 418px 1094px #fff, 1586px 1223px #fff, 1968px 36px #fff, 1514px 1975px #fff, 739px 1336px #fff, 943px 1467px #fff, 800px 722px #fff, 59px 1691px #fff, 732px 518px #fff, 224px 1371px #fff, 125px 1516px #fff, 1357px 1862px #fff, 1021px 1185px #fff, 1382px 429px #fff, 1019px 1314px #fff, 686px 352px #fff, 981px 864px #fff, 1343px 1264px #fff, 816px 958px #fff, 1278px 17px #fff, 902px 1993px #fff, 408px 482px #fff, 873px 1686px #fff, 628px 41px #fff, 827px 641px #fff, 1497px 1476px #fff, 1409px 744px #fff, 1616px 713px #fff, 356px 295px #fff, 1562px 533px #fff, 534px 618px #fff, 68px 1894px #fff, 1089px 1693px #fff, 735px 1461px #fff, 1478px 1446px #fff, 150px 1177px #fff, 1320px 1607px #fff, 484px 621px #fff, 829px 759px #fff, 1581px 1464px #fff, 143px 1906px #fff, 1781px 1957px #fff, 1672px 687px #fff, 914px 360px #fff, 426px 272px #fff, 1691px 1524px #fff, 614px 205px #fff, 29px 205px #fff, 677px 1325px #fff, 1252px 1362px #fff, 909px 1685px #fff, 1433px 1557px #fff, 1863px 205px #fff, 751px 47px #fff, 1818px 1248px #fff, 1010px 692px #fff, 606px 632px #fff, 896px 1084px #fff, 1969px 522px #fff, 1655px 519px #fff, 599px 366px #fff, 670px 802px #fff, 424px 48px #fff, 1490px 811px #fff, 1395px 1567px #fff, 1250px 610px #fff, 1101px 246px #fff, 513px 1555px #fff, 1168px 553px #fff, 486px 179px #fff, 166px 1352px #fff, 1375px 529px #fff, 1754px 182px #fff, 477px 1216px #fff, 895px 1874px #fff, 1775px 1639px #fff, 380px 1171px #fff, 1369px 205px #fff, 1064px 539px #fff, 1313px 296px #fff, 333px 1674px #fff, 380px 842px #fff, 1075px 1988px #fff, 1826px 749px #fff, 914px 771px #fff, 1648px 866px #fff, 257px 1219px #fff, 1701px 1704px #fff, 1824px 1921px #fff, 179px 1437px #fff, 1557px 846px #fff, 204px 424px #fff, 676px 752px #fff, 1503px 1774px #fff, 396px 539px #fff, 1190px 1215px #fff, 1750px 1352px #fff, 23px 643px #fff, 1390px 1761px #fff, 1421px 421px #fff, 226px 498px #fff, 1006px 1px #fff, 521px 156px #fff, 530px 371px #fff, 1288px 1503px #fff, 87px 1838px #fff, 26px 273px #fff, 174px 1613px #fff, 1069px 634px #fff, 421px 1787px #fff, 537px 1719px #fff, 732px 1904px #fff, 1352px 195px #fff, 1773px 1033px #fff, 1481px 968px #fff, 393px 1934px #fff, 1723px 1392px #fff, 1756px 53px #fff, 1852px 1591px #fff, 947px 176px #fff, 1955px 184px #fff, 1047px 1682px #fff, 719px 475px #fff, 1616px 1219px #fff, 1079px 1705px #fff, 1468px 871px #fff, 214px 1799px #fff, 1235px 1806px #fff, 1511px 1142px #fff, 1118px 336px #fff, 1988px 1681px #fff, 1408px 227px #fff, 392px 1949px #fff, 1379px 1609px #fff, 1323px 1336px #fff, 1524px 1243px #fff, 283px 218px #fff, 1482px 1754px #fff, 477px 1750px #fff, 469px 1806px #fff, 5px 1125px #fff, 83px 1353px #fff, 833px 812px #fff, 127px 904px #fff, 663px 1717px #fff, 631px 1330px #fff, 1312px 836px #fff, 400px 1004px #fff, 765px 1563px #fff, 1034px 1092px #fff, 28px 1714px #fff, 1228px 1899px #fff, 436px 1798px #fff, 429px 1747px #fff, 1857px 1595px #fff, 956px 183px #fff, 1505px 703px #fff, 1137px 583px #fff, 1347px 829px #fff, 166px 435px #fff, 1128px 1994px #fff, 879px 708px #fff, 767px 1730px #fff, 444px 1612px #fff, 1114px 621px #fff, 995px 1377px #fff, 622px 516px #fff, 528px 1327px #fff, 536px 795px #fff, 577px 752px #fff, 321px 425px #fff, 286px 870px #fff, 15px 11px #fff, 1416px 1703px #fff, 1401px 1519px #fff, 779px 1712px #fff, 1353px 484px #fff, 748px 11px #fff, 1425px 359px #fff, 1356px 1454px #fff, 804px 927px #fff, 1467px 762px #fff, 1694px 815px #fff, 1539px 1383px #fff, 226px 134px #fff, 1747px 478px #fff, 1342px 355px #fff, 1159px 498px #fff, 914px 74px #fff, 1379px 1878px #fff, 1735px 967px #fff, 798px 962px #fff, 1293px 448px #fff, 1873px 227px #fff, 312px 551px #fff, 1275px 831px #fff, 1952px 668px #fff, 736px 1230px #fff, 993px 245px #fff, 144px 546px #fff, 998px 1633px #fff, 1874px 1388px #fff, 69px 585px #fff, 1065px 1597px #fff, 1530px 762px #fff, 285px 1826px #fff, 1187px 909px #fff, 738px 984px #fff, 1887px 1637px #fff, 1764px 893px #fff, 1906px 157px #fff, 297px 1859px #fff, 1626px 1284px #fff, 1319px 222px #fff, 1668px 1588px #fff, 1215px 1500px #fff, 1056px 1088px #fff, 671px 1489px #fff, 363px 74px #fff, 1186px 1595px #fff, 1622px 1096px #fff, 741px 1741px #fff, 189px 1553px #fff, 126px 1417px #fff, 661px 199px #fff, 646px 54px #fff, 1040px 1021px #fff, 156px 1430px #fff, 1739px 603px #fff, 415px 115px #fff, 228px 1091px #fff, 1014px 1588px #fff, 289px 1467px #fff, 744px 1607px #fff, 1499px 2px #fff, 580px 1079px #fff, 1844px 606px #fff, 1472px 1314px #fff, 1986px 1142px #fff, 1713px 1517px #fff, 1766px 680px #fff, 86px 407px #fff, 365px 602px #fff, 1709px 612px #fff, 1573px 1147px #fff, 1649px 901px #fff, 215px 1479px #fff, 261px 1430px #fff, 1469px 1847px #fff, 703px 1124px #fff, 1672px 680px #fff, 179px 359px #fff, 770px 1611px #fff, 1095px 1380px #fff, 1437px 1886px #fff;
  animation: animStar 50s linear infinite;
}
.footer #stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 455px 1011px #fff, 1128px 1256px #fff, 48px 402px #fff, 480px 1095px #fff, 1469px 1515px #fff, 861px 1154px #fff, 615px 1700px #fff, 293px 273px #fff, 115px 1403px #fff, 1398px 1844px #fff, 1805px 1584px #fff, 1324px 537px #fff, 122px 1012px #fff, 648px 1454px #fff, 495px 1105px #fff, 182px 1639px #fff, 1154px 1244px #fff, 1226px 871px #fff, 1600px 755px #fff, 1675px 99px #fff, 1091px 946px #fff, 1221px 203px #fff, 327px 865px #fff, 941px 785px #fff, 772px 704px #fff, 446px 417px #fff, 256px 50px #fff, 895px 1905px #fff, 648px 1163px #fff, 1382px 887px #fff, 1442px 1480px #fff, 1276px 1983px #fff, 1459px 591px #fff, 169px 1581px #fff, 1995px 233px #fff, 733px 1778px #fff, 233px 370px #fff, 1883px 82px #fff, 514px 44px #fff, 582px 521px #fff, 1631px 1309px #fff, 1027px 552px #fff, 1024px 947px #fff, 1158px 1645px #fff, 1849px 1077px #fff, 1363px 1664px #fff, 1310px 1484px #fff, 503px 524px #fff, 479px 98px #fff, 1751px 618px #fff, 278px 636px #fff, 359px 1355px #fff, 106px 739px #fff, 1980px 1100px #fff, 1757px 617px #fff, 1778px 1520px #fff, 1507px 549px #fff, 448px 1688px #fff, 1911px 1563px #fff, 382px 1766px #fff, 302px 1831px #fff, 1703px 197px #fff, 1865px 141px #fff, 458px 872px #fff, 785px 922px #fff, 1725px 712px #fff, 691px 920px #fff, 1944px 487px #fff, 1965px 46px #fff, 1399px 1316px #fff, 1980px 1651px #fff, 766px 1632px #fff, 86px 1281px #fff, 394px 1129px #fff, 1596px 305px #fff, 1552px 1392px #fff, 1682px 220px #fff, 182px 1330px #fff, 1717px 1711px #fff, 1234px 170px #fff, 1791px 1555px #fff, 1492px 13px #fff, 535px 1604px #fff, 1565px 986px #fff, 989px 869px #fff, 1805px 286px #fff, 1501px 516px #fff, 443px 839px #fff, 1979px 367px #fff, 1160px 1826px #fff, 469px 1476px #fff, 1595px 48px #fff, 1050px 7px #fff, 1291px 573px #fff, 1968px 1392px #fff, 1881px 758px #fff, 1305px 636px #fff, 1368px 1241px #fff, 1819px 675px #fff, 1514px 1091px #fff, 1595px 1593px #fff, 902px 213px #fff, 1081px 245px #fff, 1278px 751px #fff, 1253px 511px #fff, 879px 985px #fff, 1518px 1020px #fff, 1809px 696px #fff, 640px 1677px #fff, 1305px 1759px #fff, 1259px 1905px #fff, 1686px 1802px #fff, 259px 1713px #fff, 445px 933px #fff, 1357px 1915px #fff, 1359px 1966px #fff, 1149px 1987px #fff, 1019px 1267px #fff, 1723px 481px #fff, 1115px 803px #fff, 1223px 719px #fff, 1062px 1328px #fff, 1650px 276px #fff, 1577px 545px #fff, 6px 750px #fff, 187px 360px #fff, 395px 827px #fff, 1241px 300px #fff, 782px 1570px #fff, 758px 1555px #fff, 218px 1253px #fff, 1178px 84px #fff, 1143px 834px #fff, 161px 1473px #fff, 383px 1813px #fff, 1209px 511px #fff, 1018px 628px #fff, 1638px 1786px #fff, 58px 1930px #fff, 656px 1660px #fff, 297px 1904px #fff, 1588px 796px #fff, 1361px 1045px #fff, 340px 761px #fff, 1002px 1281px #fff, 144px 1885px #fff, 549px 1520px #fff, 420px 1688px #fff, 1935px 1304px #fff, 1846px 1547px #fff, 1167px 881px #fff, 1193px 252px #fff, 82px 352px #fff, 131px 1899px #fff, 1568px 774px #fff, 1746px 1592px #fff, 496px 1341px #fff, 354px 1293px #fff, 1652px 512px #fff, 801px 615px #fff, 549px 1726px #fff, 1433px 514px #fff, 26px 74px #fff, 1427px 1744px #fff, 1316px 32px #fff, 875px 949px #fff, 1463px 1250px #fff, 1650px 124px #fff, 1118px 1985px #fff, 569px 828px #fff, 89px 1195px #fff, 484px 1684px #fff, 1669px 405px #fff, 1312px 948px #fff, 1218px 981px #fff, 282px 424px #fff, 791px 714px #fff, 1561px 1168px #fff, 1594px 705px #fff, 1852px 121px #fff, 1990px 1980px #fff, 1857px 1771px #fff, 916px 404px #fff, 568px 350px #fff, 1992px 842px #fff, 1294px 620px #fff, 823px 1026px #fff, 801px 728px #fff, 1013px 196px #fff, 1566px 1682px #fff, 257px 1594px #fff, 1334px 381px #fff, 1681px 606px #fff, 1094px 1856px #fff, 1143px 111px #fff, 1136px 949px #fff, 703px 1511px #fff, 1528px 1633px #fff, 473px 1830px #fff, 860px 948px #fff, 546px 538px #fff, 56px 657px #fff, 1660px 511px #fff, 1171px 1162px #fff, 510px 562px #fff, 901px 1644px #fff, 1448px 647px #fff, 851px 1948px #fff, 524px 1970px #fff, 57px 1941px #fff, 1440px 301px #fff, 1221px 263px #fff, 1032px 170px #fff, 1734px 136px #fff, 1332px 786px #fff, 1782px 344px #fff, 299px 1846px #fff, 1757px 560px #fff, 705px 1142px #fff, 1305px 1747px #fff, 363px 388px #fff, 1659px 596px #fff, 1502px 719px #fff, 1872px 1771px #fff, 453px 1941px #fff, 586px 1175px #fff, 1785px 1492px #fff, 1475px 1377px #fff, 748px 618px #fff, 1026px 1825px #fff, 1988px 1128px #fff, 168px 708px #fff, 443px 1937px #fff, 550px 1033px #fff, 1595px 1789px #fff, 1709px 1117px #fff, 218px 878px #fff, 1502px 1569px #fff, 1267px 841px #fff, 893px 845px #fff, 1299px 1882px #fff, 1517px 1401px #fff, 1290px 33px #fff, 1328px 791px #fff, 634px 1252px #fff, 515px 1348px #fff, 286px 466px #fff, 1261px 1672px #fff, 156px 692px #fff, 1616px 1815px #fff, 696px 487px #fff, 380px 1126px #fff, 1352px 95px #fff, 1113px 390px #fff, 465px 343px #fff, 68px 1371px #fff, 421px 1938px #fff, 598px 891px #fff, 599px 599px #fff, 136px 1489px #fff, 412px 758px #fff, 603px 1361px #fff, 940px 585px #fff, 253px 1808px #fff, 563px 1380px #fff, 651px 1784px #fff, 755px 566px #fff, 555px 1579px #fff, 381px 1142px #fff, 1025px 1770px #fff, 1577px 514px #fff, 475px 277px #fff, 144px 670px #fff, 1268px 1989px #fff, 1089px 1446px #fff, 705px 1108px #fff, 1654px 1097px #fff, 672px 10px #fff, 1886px 155px #fff, 1377px 37px #fff, 1076px 1962px #fff, 749px 102px #fff, 620px 634px #fff, 400px 710px #fff, 1386px 1219px #fff, 995px 251px #fff, 829px 939px #fff, 1254px 1206px #fff, 1297px 471px #fff, 28px 873px #fff, 1240px 1079px #fff, 1768px 1263px #fff, 763px 2000px #fff, 1223px 316px #fff, 1120px 1082px #fff, 1290px 20px #fff, 522px 1784px #fff, 1905px 453px #fff, 1734px 136px #fff, 491px 994px #fff, 1289px 1524px #fff, 1561px 252px #fff, 527px 1754px #fff, 1726px 1670px #fff, 599px 1476px #fff, 457px 148px #fff, 1990px 1518px #fff, 1276px 1062px #fff, 349px 49px #fff, 1740px 221px #fff, 1114px 484px #fff, 1836px 479px #fff, 1516px 1683px #fff, 949px 120px #fff, 1325px 357px #fff, 1584px 1763px #fff, 952px 1568px #fff, 832px 14px #fff, 328px 66px #fff, 270px 1269px #fff, 355px 1051px #fff, 969px 1719px #fff, 1092px 1647px #fff, 1509px 1709px #fff, 1965px 1498px #fff, 1650px 1807px #fff, 1985px 409px #fff, 1050px 363px #fff, 1794px 1393px #fff, 1574px 409px #fff, 1161px 60px #fff, 1227px 796px #fff, 1423px 1386px #fff, 1539px 1097px #fff, 1227px 879px #fff, 795px 1929px #fff, 1049px 879px #fff, 1056px 139px #fff, 827px 421px #fff, 1261px 957px #fff, 413px 258px #fff, 858px 749px #fff, 1771px 118px #fff, 87px 1119px #fff, 122px 1463px #fff, 1519px 1863px #fff, 696px 814px #fff, 89px 1322px #fff, 1510px 409px #fff, 1509px 1279px #fff, 903px 234px #fff, 731px 1285px #fff, 136px 1220px #fff, 1147px 47px #fff, 385px 836px #fff, 1799px 1815px #fff, 1235px 1774px #fff, 1227px 1272px #fff, 1985px 1952px #fff, 743px 1817px #fff, 817px 453px #fff, 60px 322px #fff, 1101px 1494px #fff, 220px 1766px #fff, 1939px 1819px #fff, 1523px 1919px #fff, 203px 570px #fff, 98px 136px #fff, 333px 35px #fff, 682px 1611px #fff, 1676px 26px #fff, 166px 87px #fff, 1456px 328px #fff, 398px 1396px #fff, 1120px 1814px #fff, 1149px 1737px #fff, 1097px 1426px #fff, 1833px 594px #fff, 425px 1344px #fff, 1790px 1416px #fff, 597px 771px #fff, 1963px 671px #fff, 1001px 1443px #fff, 508px 476px #fff, 1624px 178px #fff, 1175px 226px #fff, 474px 229px #fff, 1886px 852px #fff, 738px 1425px #fff, 1087px 343px #fff, 1959px 431px #fff, 1351px 1135px #fff, 1303px 536px #fff, 657px 324px #fff, 304px 788px #fff, 1666px 1818px #fff, 424px 1872px #fff, 555px 198px #fff, 138px 859px #fff, 1970px 384px #fff, 1997px 1800px #fff, 1093px 205px #fff, 728px 576px #fff, 1237px 1549px #fff, 659px 1327px #fff, 1584px 1917px #fff, 927px 382px #fff, 5px 1876px #fff, 203px 1577px #fff, 625px 1500px #fff, 1994px 1870px #fff, 227px 1306px #fff, 587px 500px #fff, 623px 1519px #fff, 1044px 756px #fff, 1993px 1407px #fff, 1683px 90px #fff, 1845px 670px #fff, 126px 914px #fff, 1722px 1541px #fff, 474px 1492px #fff, 743px 441px #fff, 301px 420px #fff, 1032px 1901px #fff, 613px 1602px #fff, 1383px 1212px #fff, 1120px 795px #fff, 582px 303px #fff, 1159px 1375px #fff, 242px 430px #fff, 1763px 1478px #fff, 481px 563px #fff, 1604px 943px #fff, 618px 1348px #fff, 994px 938px #fff, 180px 1649px #fff, 1096px 929px #fff, 922px 1557px #fff, 943px 700px #fff, 1018px 1690px #fff, 783px 846px #fff, 1980px 1711px #fff, 562px 230px #fff, 1773px 882px #fff, 475px 1438px #fff, 1571px 701px #fff, 768px 564px #fff, 765px 176px #fff, 1385px 961px #fff, 1475px 269px #fff, 1676px 278px #fff, 1722px 1577px #fff, 331px 1398px #fff, 1616px 768px #fff, 1431px 1159px #fff, 1184px 568px #fff, 1357px 1226px #fff, 248px 812px #fff, 1697px 1079px #fff, 254px 305px #fff, 783px 1733px #fff, 633px 444px #fff, 538px 438px #fff, 1071px 506px #fff, 39px 1888px #fff, 1042px 1274px #fff, 1774px 595px #fff, 1132px 1953px #fff, 375px 1904px #fff, 317px 691px #fff, 1522px 27px #fff, 1511px 151px #fff, 1822px 800px #fff, 1156px 1535px #fff, 1634px 1675px #fff, 742px 1888px #fff, 41px 895px #fff, 342px 1767px #fff, 1466px 1072px #fff, 414px 419px #fff, 1881px 1244px #fff, 1900px 407px #fff, 1873px 1209px #fff, 1332px 1416px #fff, 952px 1584px #fff, 357px 1875px #fff, 1257px 1443px #fff, 1600px 572px #fff, 1599px 1700px #fff, 1734px 1357px #fff, 338px 1293px #fff, 1923px 1623px #fff, 294px 1383px #fff, 1025px 1561px #fff, 340px 1037px #fff, 871px 1322px #fff, 345px 1334px #fff, 410px 13px #fff, 1473px 11px #fff, 1286px 1932px #fff, 809px 1120px #fff, 1762px 303px #fff, 210px 457px #fff, 280px 1874px #fff, 273px 649px #fff, 682px 142px #fff, 639px 459px #fff, 834px 133px #fff, 909px 510px #fff, 1114px 1858px #fff, 1502px 970px #fff, 691px 1238px #fff, 1559px 63px #fff, 542px 562px #fff, 1160px 954px #fff, 203px 380px #fff, 61px 822px #fff, 375px 193px #fff, 1042px 235px #fff, 1798px 1318px #fff, 1000px 1159px #fff, 1837px 1118px #fff, 226px 1252px #fff, 1620px 936px #fff, 1077px 403px #fff, 629px 418px #fff, 271px 21px #fff, 1614px 1655px #fff, 1135px 1781px #fff, 1518px 1995px #fff, 969px 1602px #fff, 1506px 940px #fff, 1232px 1171px #fff, 358px 685px #fff, 1748px 1301px #fff, 1296px 1394px #fff, 1496px 1707px #fff, 1587px 719px #fff, 1869px 1728px #fff, 650px 1466px #fff, 1424px 193px #fff, 1862px 1567px #fff, 865px 1816px #fff, 1995px 1407px #fff, 1704px 512px #fff, 114px 897px #fff, 950px 281px #fff, 1840px 1246px #fff, 1753px 608px #fff, 623px 1946px #fff, 446px 933px #fff, 344px 1131px #fff, 780px 168px #fff, 635px 1986px #fff, 494px 342px #fff, 1285px 1542px #fff, 616px 1245px #fff, 914px 1264px #fff, 1397px 657px #fff, 957px 1199px #fff, 1972px 913px #fff, 257px 1341px #fff, 798px 1447px #fff, 1657px 615px #fff, 1905px 1228px #fff, 369px 123px #fff, 363px 1735px #fff, 1990px 330px #fff, 1768px 647px #fff, 543px 1578px #fff, 458px 1185px #fff, 1496px 1727px #fff, 1102px 806px #fff, 1090px 1762px #fff, 1842px 499px #fff, 625px 1206px #fff, 1495px 290px #fff, 1199px 1007px #fff, 578px 835px #fff, 981px 1802px #fff, 850px 524px #fff, 604px 1483px #fff, 1641px 786px #fff, 1865px 603px #fff, 651px 1133px #fff, 1932px 916px #fff, 707px 671px #fff, 1054px 1086px #fff, 1419px 1265px #fff, 1466px 286px #fff, 859px 1403px #fff, 192px 618px #fff, 1183px 392px #fff, 754px 958px #fff, 1936px 520px #fff, 348px 1924px #fff, 1746px 740px #fff, 1013px 219px #fff, 1998px 561px #fff, 1691px 1740px #fff, 1782px 1404px #fff, 1154px 675px #fff, 679px 53px #fff, 617px 1082px #fff, 50px 1854px #fff, 770px 1271px #fff, 1085px 716px #fff, 1573px 1385px #fff, 858px 172px #fff, 1580px 1160px #fff, 938px 322px #fff, 184px 704px #fff, 432px 608px #fff, 599px 1413px #fff, 1775px 1634px #fff, 1847px 1202px #fff, 1289px 1613px #fff, 1602px 77px #fff, 1641px 1434px #fff, 1746px 270px #fff, 88px 250px #fff, 295px 1567px #fff, 511px 1233px #fff, 711px 1132px #fff, 566px 906px #fff, 1946px 1062px #fff, 862px 299px #fff, 1422px 965px #fff, 1945px 29px #fff, 1757px 1684px #fff, 1082px 1407px #fff, 658px 1080px #fff, 782px 575px #fff, 1101px 761px #fff, 950px 696px #fff, 1581px 349px #fff, 185px 1962px #fff, 1906px 337px #fff, 1306px 765px #fff, 141px 673px #fff, 1536px 1611px #fff, 101px 138px #fff, 337px 1877px #fff, 1909px 211px #fff, 1394px 1198px #fff, 1183px 522px #fff, 1770px 1759px #fff, 1714px 1970px #fff, 130px 1074px #fff, 1039px 1439px #fff, 856px 143px #fff, 1708px 370px #fff, 766px 974px #fff, 1671px 1932px #fff, 31px 784px #fff, 1488px 1697px #fff, 607px 1279px #fff, 747px 1096px #fff, 1412px 1576px #fff, 302px 1399px #fff, 70px 1152px #fff, 826px 982px #fff, 133px 1553px #fff, 1714px 334px #fff, 1191px 5px #fff, 1480px 1931px #fff, 1533px 1062px #fff, 153px 1841px #fff, 1811px 723px #fff, 1312px 31px #fff, 956px 1406px #fff, 1654px 1391px #fff, 570px 1916px #fff, 325px 1848px #fff, 1654px 1267px #fff, 1975px 1061px #fff, 217px 679px #fff, 411px 1526px #fff, 664px 268px #fff, 1786px 1700px #fff, 364px 847px #fff, 1555px 284px #fff, 1950px 1106px #fff, 343px 773px #fff, 524px 512px #fff, 1597px 1042px #fff, 102px 114px #fff, 924px 752px #fff, 723px 938px #fff, 1545px 285px #fff, 1029px 865px #fff, 835px 1429px #fff, 1528px 1183px #fff, 41px 745px #fff, 411px 1079px #fff, 1963px 1328px #fff, 1609px 154px #fff, 1316px 1158px #fff, 1224px 1058px #fff, 147px 566px #fff;
}
.footer #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1744px 1051px #fff, 120px 1244px #fff, 19px 1663px #fff, 482px 1239px #fff, 1929px 1890px #fff, 1781px 773px #fff, 988px 1283px #fff, 1756px 203px #fff, 1078px 1049px #fff, 121px 623px #fff, 778px 1322px #fff, 1376px 994px #fff, 450px 1815px #fff, 186px 1623px #fff, 1580px 1797px #fff, 1777px 1104px #fff, 1966px 1881px #fff, 213px 1829px #fff, 1009px 1292px #fff, 230px 118px #fff, 1276px 1823px #fff, 1379px 924px #fff, 723px 1768px #fff, 1023px 1841px #fff, 363px 611px #fff, 647px 1153px #fff, 1231px 58px #fff, 1439px 28px #fff, 1326px 398px #fff, 1284px 656px #fff, 317px 1288px #fff, 1385px 1665px #fff, 1419px 1674px #fff, 821px 1391px #fff, 1428px 1837px #fff, 384px 1905px #fff, 381px 199px #fff, 777px 1671px #fff, 291px 1340px #fff, 860px 1999px #fff, 1618px 746px #fff, 663px 143px #fff, 1227px 1711px #fff, 473px 996px #fff, 410px 1630px #fff, 1714px 1828px #fff, 401px 1069px #fff, 1914px 1853px #fff, 1957px 1365px #fff, 1468px 1521px #fff, 478px 1283px #fff, 1051px 417px #fff, 1337px 1312px #fff, 1750px 82px #fff, 1846px 977px #fff, 680px 424px #fff, 1118px 313px #fff, 833px 1602px #fff, 1172px 121px #fff, 404px 1576px #fff, 1643px 480px #fff, 729px 822px #fff, 815px 428px #fff, 1464px 70px #fff, 1377px 1859px #fff, 1941px 1757px #fff, 1005px 1237px #fff, 1830px 1681px #fff, 600px 829px #fff, 522px 631px #fff, 257px 17px #fff, 1977px 985px #fff, 972px 1894px #fff, 486px 95px #fff, 637px 1155px #fff, 683px 589px #fff, 479px 442px #fff, 1112px 1526px #fff, 718px 862px #fff, 1426px 1816px #fff, 1717px 1530px #fff, 1392px 341px #fff, 345px 112px #fff, 1010px 1989px #fff, 1627px 1828px #fff, 653px 609px #fff, 305px 161px #fff, 1035px 1198px #fff, 66px 803px #fff, 698px 1978px #fff, 485px 171px #fff, 473px 800px #fff, 657px 1997px #fff, 1963px 1085px #fff, 77px 763px #fff, 345px 1167px #fff, 1061px 1541px #fff, 1751px 1968px #fff, 1016px 135px #fff, 637px 1735px #fff, 943px 591px #fff, 299px 987px #fff, 72px 1965px #fff, 86px 426px #fff, 1540px 570px #fff, 603px 1864px #fff, 1695px 1654px #fff, 1555px 345px #fff, 1270px 1108px #fff, 1879px 1064px #fff, 1511px 710px #fff, 1975px 1313px #fff, 762px 354px #fff, 1045px 973px #fff, 1029px 248px #fff, 1194px 1568px #fff, 305px 53px #fff, 1539px 1427px #fff, 1856px 1321px #fff, 1694px 1643px #fff, 1757px 1070px #fff, 188px 37px #fff, 753px 662px #fff, 1997px 1354px #fff, 1234px 1660px #fff, 262px 1223px #fff, 1564px 1062px #fff, 1340px 141px #fff, 598px 1909px #fff, 689px 275px #fff, 1244px 1479px #fff, 636px 822px #fff, 1097px 28px #fff, 952px 108px #fff, 944px 375px #fff, 165px 327px #fff, 583px 524px #fff, 889px 1445px #fff, 522px 1567px #fff, 538px 1839px #fff, 1180px 1280px #fff, 1300px 1973px #fff, 129px 1182px #fff, 838px 897px #fff, 1167px 1062px #fff, 994px 1541px #fff, 505px 208px #fff, 1547px 1963px #fff, 1856px 1946px #fff, 1052px 202px #fff, 1570px 1554px #fff, 254px 557px #fff, 1426px 363px #fff, 629px 37px #fff, 595px 282px #fff, 888px 864px #fff, 170px 1160px #fff, 1742px 767px #fff, 1563px 1131px #fff, 1811px 827px #fff, 1722px 806px #fff, 1734px 334px #fff, 326px 1504px #fff, 476px 976px #fff, 547px 831px #fff, 284px 876px #fff, 1881px 397px #fff, 380px 1443px #fff, 1834px 1520px #fff, 982px 830px #fff, 1273px 489px #fff, 1732px 1856px #fff, 1988px 1564px #fff, 1073px 948px #fff, 11px 1214px #fff, 363px 558px #fff, 573px 255px #fff, 1861px 1562px #fff, 1737px 1887px #fff, 258px 345px #fff, 1109px 999px #fff, 1032px 1720px #fff, 852px 1561px #fff, 1176px 124px #fff, 807px 1594px #fff, 10px 1523px #fff, 1189px 848px #fff, 1267px 494px #fff, 611px 912px #fff, 1683px 469px #fff, 1945px 1096px #fff, 1984px 1177px #fff, 1971px 1357px #fff, 1919px 1122px #fff, 1232px 865px #fff, 1397px 1591px #fff, 1130px 1582px #fff, 1436px 1732px #fff, 302px 1893px #fff, 1346px 919px #fff;
  animation: animStar 100s linear infinite;
}
.footer #stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 290px 426px #fff, 472px 1508px #fff, 89px 1404px #fff, 543px 1954px #fff, 840px 1486px #fff, 1px 1119px #fff, 688px 1141px #fff, 1403px 10px #fff, 1881px 60px #fff, 41px 286px #fff, 1234px 205px #fff, 1238px 588px #fff, 501px 567px #fff, 1717px 714px #fff, 187px 1288px #fff, 1661px 441px #fff, 941px 1819px #fff, 1419px 1340px #fff, 313px 699px #fff, 263px 1332px #fff, 1533px 1412px #fff, 1046px 1214px #fff, 1954px 819px #fff, 153px 645px #fff, 602px 1536px #fff, 1310px 196px #fff, 1575px 1617px #fff, 155px 720px #fff, 517px 1697px #fff, 529px 1994px #fff, 626px 1144px #fff, 1186px 1674px #fff, 1363px 1448px #fff, 1530px 141px #fff, 707px 513px #fff, 1815px 261px #fff, 1895px 1561px #fff, 1842px 1792px #fff, 595px 1138px #fff, 213px 49px #fff, 530px 478px #fff, 1547px 1063px #fff, 1257px 1127px #fff, 1528px 1554px #fff, 299px 1531px #fff, 1595px 760px #fff, 552px 1455px #fff, 64px 1181px #fff, 685px 873px #fff, 1189px 1221px #fff, 1224px 550px #fff, 1303px 1976px #fff, 653px 638px #fff, 1372px 1668px #fff, 201px 478px #fff, 265px 1754px #fff, 706px 1836px #fff, 1248px 1189px #fff, 1420px 370px #fff, 1832px 1291px #fff, 1979px 1872px #fff, 1414px 1693px #fff, 546px 1582px #fff, 267px 971px #fff, 875px 1062px #fff, 1134px 1764px #fff, 1094px 545px #fff, 1602px 536px #fff, 1156px 502px #fff, 93px 427px #fff, 39px 422px #fff, 1628px 859px #fff, 319px 146px #fff, 387px 791px #fff, 1138px 1810px #fff, 287px 795px #fff, 1456px 781px #fff, 250px 480px #fff, 1643px 780px #fff, 1243px 250px #fff, 1038px 347px #fff, 402px 1122px #fff, 16px 113px #fff, 766px 1042px #fff, 1330px 508px #fff, 950px 476px #fff, 1020px 577px #fff, 1958px 1273px #fff, 1409px 693px #fff, 527px 699px #fff, 1492px 1510px #fff, 250px 1937px #fff, 724px 115px #fff, 1354px 1125px #fff, 1064px 1394px #fff, 53px 300px #fff, 767px 1306px #fff, 967px 1025px #fff, 1586px 283px #fff, 1324px 1120px #fff, 220px 1049px #fff, 1312px 47px #fff, 724px 1695px #fff, 1155px 301px #fff, 219px 1515px #fff, 1070px 203px #fff, 471px 846px #fff, 1111px 1337px #fff, 1287px 1170px #fff, 956px 1180px #fff, 1279px 926px #fff, 240px 1380px #fff, 1272px 1510px #fff, 964px 1707px #fff, 319px 209px #fff, 1548px 47px #fff, 439px 1232px #fff, 883px 1441px #fff, 1371px 501px #fff, 1324px 1425px #fff, 1682px 49px #fff, 81px 223px #fff, 1507px 612px #fff, 464px 1964px #fff, 225px 2px #fff, 478px 958px #fff, 596px 387px #fff, 943px 1908px #fff, 177px 1770px #fff, 871px 125px #fff, 1126px 455px #fff, 541px 1983px #fff, 1519px 1721px #fff, 1592px 1542px #fff, 1541px 1242px #fff, 199px 1989px #fff, 1387px 1601px #fff, 971px 1933px #fff, 1646px 1823px #fff, 750px 1163px #fff, 754px 1189px #fff, 900px 1926px #fff, 770px 1172px #fff, 260px 1112px #fff, 1365px 759px #fff, 890px 1890px #fff, 386px 303px #fff, 490px 639px #fff, 646px 1872px #fff, 1675px 867px #fff, 1720px 1884px #fff, 1518px 540px #fff, 1592px 1546px #fff, 1728px 225px #fff, 1342px 1886px #fff, 553px 1589px #fff, 1679px 1130px #fff, 1162px 1738px #fff, 743px 735px #fff, 1135px 1400px #fff, 1065px 859px #fff, 395px 1109px #fff, 1153px 384px #fff, 347px 524px #fff, 470px 1011px #fff, 120px 1091px #fff, 42px 1999px #fff, 387px 1609px #fff, 127px 958px #fff, 1072px 1946px #fff, 1449px 309px #fff, 553px 1173px #fff, 436px 594px #fff, 658px 1882px #fff, 1708px 95px #fff, 764px 1122px #fff, 954px 1118px #fff, 705px 1936px #fff, 831px 893px #fff, 1300px 551px #fff, 1975px 1196px #fff, 1258px 422px #fff, 236px 863px #fff, 1321px 637px #fff, 1051px 252px #fff, 1444px 1009px #fff, 1193px 382px #fff, 666px 97px #fff, 724px 370px #fff, 1219px 1106px #fff, 1013px 819px #fff, 261px 1113px #fff, 449px 567px #fff, 1186px 36px #fff, 1024px 1260px #fff, 266px 100px #fff, 783px 1115px #fff, 291px 91px #fff, 1754px 1945px #fff, 294px 676px #fff;
}
.footer #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 96px 1314px #fff, 1317px 254px #fff, 1478px 1255px #fff, 816px 568px #fff, 894px 932px #fff, 1471px 1871px #fff, 797px 1365px #fff, 1773px 1811px #fff, 1521px 1535px #fff, 1353px 24px #fff, 1325px 852px #fff, 924px 162px #fff, 835px 1139px #fff, 795px 1195px #fff, 1948px 595px #fff, 455px 338px #fff, 459px 534px #fff, 1056px 818px #fff, 386px 1991px #fff, 1895px 349px #fff, 1676px 1854px #fff, 641px 1879px #fff, 843px 506px #fff, 1449px 717px #fff, 585px 1154px #fff, 832px 79px #fff, 1260px 863px #fff, 1027px 1188px #fff, 1111px 615px #fff, 1356px 251px #fff, 257px 699px #fff, 1908px 1496px #fff, 89px 1747px #fff, 560px 1581px #fff, 902px 1895px #fff, 1348px 652px #fff, 13px 938px #fff, 192px 629px #fff, 442px 1457px #fff, 1399px 1162px #fff, 533px 1464px #fff, 1671px 909px #fff, 997px 1858px #fff, 70px 1855px #fff, 1095px 650px #fff, 1075px 1619px #fff, 811px 458px #fff, 1365px 559px #fff, 1862px 1515px #fff, 11px 948px #fff, 1233px 551px #fff, 1695px 160px #fff, 1169px 1204px #fff, 1515px 371px #fff, 405px 176px #fff, 201px 865px #fff, 160px 1337px #fff, 696px 177px #fff, 911px 1182px #fff, 466px 1193px #fff, 1177px 1794px #fff, 1357px 1804px #fff, 1183px 1735px #fff, 1603px 856px #fff, 1340px 1371px #fff, 1354px 1179px #fff, 1743px 497px #fff, 407px 186px #fff, 1230px 1559px #fff, 137px 804px #fff, 1737px 1721px #fff, 1765px 1110px #fff, 100px 1927px #fff, 1747px 1024px #fff, 869px 1600px #fff, 2000px 1095px #fff, 1394px 367px #fff, 1599px 1968px #fff, 10px 1165px #fff, 1616px 1409px #fff, 224px 1559px #fff, 1112px 395px #fff, 330px 1227px #fff, 1614px 1175px #fff, 1048px 759px #fff, 1581px 560px #fff, 1712px 286px #fff, 335px 849px #fff, 414px 1597px #fff, 984px 89px #fff, 1641px 839px #fff, 447px 464px #fff, 548px 122px #fff, 968px 654px #fff, 1775px 799px #fff, 893px 1830px #fff, 208px 838px #fff, 1060px 730px #fff, 896px 1038px #fff, 421px 1209px #fff;
  animation: animStar 150s linear infinite;
}
.footer #stars3:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 224px 640px #fff, 1002px 13px #fff, 436px 1854px #fff, 1187px 1184px #fff, 392px 1370px #fff, 425px 1678px #fff, 410px 914px #fff, 1615px 1571px #fff, 275px 292px #fff, 229px 453px #fff, 831px 269px #fff, 1438px 948px #fff, 95px 281px #fff, 727px 1366px #fff, 330px 1086px #fff, 655px 1423px #fff, 368px 1813px #fff, 1690px 742px #fff, 628px 1956px #fff, 1544px 1435px #fff, 220px 668px #fff, 1096px 1193px #fff, 1664px 1008px #fff, 983px 1670px #fff, 1570px 1613px #fff, 1221px 1888px #fff, 1620px 280px #fff, 1760px 1688px #fff, 837px 924px #fff, 1931px 488px #fff, 256px 42px #fff, 1474px 988px #fff, 7px 1036px #fff, 193px 1856px #fff, 727px 142px #fff, 531px 1738px #fff, 1523px 1097px #fff, 1946px 1209px #fff, 1970px 1270px #fff, 897px 267px #fff, 606px 1331px #fff, 1834px 1903px #fff, 576px 1942px #fff, 727px 525px #fff, 706px 1077px #fff, 1916px 1131px #fff, 609px 1151px #fff, 1965px 760px #fff, 372px 1232px #fff, 1127px 1072px #fff, 1532px 1695px #fff, 981px 1422px #fff, 131px 3px #fff, 567px 1061px #fff, 1608px 1254px #fff, 540px 344px #fff, 1229px 1911px #fff, 121px 1140px #fff, 1080px 289px #fff, 1144px 1928px #fff, 1510px 1394px #fff, 784px 255px #fff, 39px 245px #fff, 762px 809px #fff, 1381px 803px #fff, 1152px 1545px #fff, 316px 775px #fff, 1970px 1666px #fff, 1285px 1618px #fff, 1861px 830px #fff, 1382px 324px #fff, 1686px 1354px #fff, 1062px 433px #fff, 1600px 481px #fff, 963px 834px #fff, 1938px 72px #fff, 548px 1208px #fff, 1624px 1468px #fff, 1211px 541px #fff, 235px 884px #fff, 1213px 787px #fff, 646px 55px #fff, 1409px 488px #fff, 483px 1036px #fff, 336px 1806px #fff, 1186px 1215px #fff, 620px 305px #fff, 515px 1027px #fff, 1621px 1187px #fff, 758px 746px #fff, 640px 1280px #fff, 1265px 1431px #fff, 1465px 257px #fff, 1047px 635px #fff, 335px 293px #fff, 1439px 1228px #fff, 866px 952px #fff, 20px 1387px #fff, 815px 1539px #fff, 894px 392px #fff;
}
.footer__container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__social-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}
.footer__social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  color: hsl(75, 6%, 87%);
}
.footer__social-links__link img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  margin: 10px;
}
.footer__social-links__link:hover img {
  transform: scale(1.5);
}
.footer__social-links__link-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.footer__social-links__link-container:hover .footer__social-links__icon {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
.footer__social-links__icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
.footer__informations {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__informations .mention-legal {
  margin-bottom: 1rem;
}
.footer__informations .mention-legal a {
  color: hsl(75, 6%, 87%);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem;
}
.footer__informations .mention-legal a:hover {
  color: hsl(204, 95%, 80%);
}
.footer__mail .mail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  color: hsl(75, 6%, 87%);
}
.footer .scroll-top {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
  color: hsl(75, 6%, 87%);
}
.footer .scroll-top:hover {
  color: hsl(204, 95%, 80%);
  transform: translateY(-5px);
}

.remove {
  display: none;
}

/*# sourceMappingURL=style.css.map */
