/* Base */
/* Blue Palette */
/* Pastel 1 */
/* Pastel 2 */
/* Dark Blue */
/* Border Radius */
/* Width */
/* Variables de couleur ombres*/
/* Profondeur de l'ombre */
/* Flex center */
/* Neumorphisme box*/
* {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ol,
ul {
  list-style: none;
}

/* Body */
body {
  font-family: "Chillax-Regular", sans-serif;
  color: hsl(75, 6%, 87%);
  max-width: 100vw;
  background-color: hsl(264, 38%, 5%);
}

/* Links */
a {
  color: black;
  text-decoration: none;
}

/* Section */
.section-container {
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}

#about {
  /* background-image: url(../assets/images/background.webp);

  background-size: cover; */
  background-color: hsl(210, 100%, 22%);
  position: relative;
  z-index: 2;
}

#skills {
  background-color: hsl(212, 29%, 36%);
}

#projects {
  background-color: hsl(210, 49%, 28%);
}

/* Allan */
@font-face {
  font-family: "Allan-Regular";
  src: url("../assets/fonts/Allan/allan-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Allan-Bold";
  src: url("../assets/fonts/Allan/allan-700.ttf") format("truetype");
}
/* Chillax */
@font-face {
  font-family: "Chillax-Regular";
  src: url("../assets/fonts/Chillax/Chillax-Regular.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Regular.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Medium";
  src: url("../assets/fonts/Chillax/Chillax-Medium.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Medium.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Semibold";
  src: url("../assets/fonts/Chillax/Chillax-Semibold.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Semibold.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Bold";
  src: url("../assets/fonts/Chillax/Chillax-Bold.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Bold.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Variable";
  src: url("../assets/fonts/Chillax/Chillax-Variable.woff2") format("woff2"), url("../assets/fonts/Chillax/Chillax-Variable.woff") format("woff"), url("../assets/fonts/Chillax/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
/* Dongle */
@font-face {
  font-family: "Dongle-Light";
  src: url("../assets/fonts/Dongle/Dongle-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Dongle-Regular";
  src: url("../assets/fonts/Dongle/Dongle-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Dongle-Bold";
  src: url("../assets/fonts/Dongle/Dongle-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/* Outward */
@font-face {
  font-family: "Outward";
  src: url("../assets/fonts/Outward/outward-block-webfont.eot");
  src: url("../assets/fonts/Outward/outward-block-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Outward/outward-block-webfont.woff2") format("woff2"), url("../assets/fonts/Outward/outward-block-webfont.woff") format("woff"), url("../assets/fonts/Outward/outward-block-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Outward";
  src: url("../assets/fonts/Outward/outward-borders-webfont.eot");
  src: url("../assets/fonts/Outward/outward-borders-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Outward/outward-borders-webfont.woff2") format("woff2"), url("../assets/fonts/Outward/outward-borders-webfont.woff") format("woff"), url("../assets/fonts/Outward/outward-borders-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Outward";
  src: url("../assets/fonts/Outward/outward-");
  src: url("../assets/fonts/Outward/outward-?#iefix") format("embedded-opentype"), url("../assets/fonts/Outward/outward-round-webfont.woff2") format("woff2"), url("../assets/fonts/Outward/outward-round-webfont.woff") format("woff"), url("../assets/fonts/Outward/outward-round-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
/* Lemon */
@font-face {
  font-family: "LemonWide";
  src: url("../assets/fonts/Lemon/Lemon-Wide.woff") format("woff"), url("../assets/fonts/Lemon/Lemon-Wide.woff2") format("woff2"), url("../assets/fonts/Lemon/Lemon-Wide.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Lemon";
  src: url("../assets/fonts/Lemon/Lemon-Regular.woff") format("woff"), url("../assets/fonts/Lemon/Lemon-Regular.woff2") format("woff2"), url("../assets/fonts/Lemon/Lemon-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "LemonWide";
  src: url("../assets/fonts/Lemon/Lemon-Wide.woff") format("woff"), url("../assets/fonts/Lemon/Lemon-Wide.woff2") format("woff2"), url("../assets/fonts/Lemon/Lemon-Wide.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Lemon";
  src: url("../assets/fonts/Lemon/Lemon-Regular.woff2") format("woff2"), url("../assets/fonts/Lemon/Lemon-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* Thunder */
@font-face {
  font-family: "Thunder";
  src: url("../assets/fonts/Thunder/Thunder-LC.woff") format("woff"), url("../assets/fonts/Thunder/Thunder-LC.woff2") format("woff2"), url("../assets/fonts/Thunder/Thunder-LC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Thunder";
  src: url("../assets/fonts/Thunder/Thunder-BoldLC.woff") format("woff"), url("../assets/fonts/Thunder/Thunder-BoldLC.woff2") format("woff2"), url("../assets/fonts/Thunder/Thunder-BoldLC.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
/* Nohemi */
@font-face {
  font-family: "Nohemi";
  src: url("../assets/fonts/Nohemi/Nohemi-Regular.ttf") format("truetype"), url("../assets/fonts/Nohemi//Nohemi-Regular.woff2") format("woff2"), url("../assets/fonts/Nohemi//Nohemi-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@keyframes cursor {
  0% {
    border-right: 2px solid rgb(255, 255, 255);
  }
  50% {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 2px solid rgb(255, 255, 255);
  }
}
@keyframes slowCursor {
  0% {
    border-right: 2px solid rgb(255, 255, 255);
  }
  70% {
    border-right: 2px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 2px solid rgb(255, 255, 255);
  }
}
.type-writing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 0.6s ease infinite;
}

.slow-cursor {
  animation: slowCursor 1s ease infinite;
}

/* Header */
#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 50px;
}
.header__container__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container__logo-link {
  display: block;
  height: 4.5rem;
}
.header__container__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__container__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container__nav {
  display: flex;
}
.header__container__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.header__container__nav-item {
  padding: 0 1rem;
  border-radius: 10px;
  background-color: hsl(264, 38%, 5%);
  box-shadow: -4.3301270189px -2.5px 5px rgba(255, 255, 255, 0.8), -4.3301270189px 2.5px 5px rgba(0, 0, 0, 0.2);
}
.header__container__nav-link {
  color: hsl(75, 6%, 87%);
  font-family: "Dongle-Light", sans-serif;
  font-size: 1.8rem;
}

/* Home */
.home {
  display: flex;
  background-image: url(../assets/images/home.jpg);
  color: hsl(75, 6%, 87%);
  width: 100%;
  /*   .saturne {
    position: absolute;
    top: 300px;
    right: 1600px;
    width: 18%;
    height: auto;
    object-fit: cover;
  } */
}
.home__content {
  text-shadow: 4px 4px 5px hsl(264, 38%, 5%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
}
.home__title {
  font-family: "Allan-Regular", sans-serif;
  font-size: 5rem;
}
.home__title--description {
  font-family: "Nohemi", sans-serif;
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.home__image-container {
  position: relative;
  width: 50%;
  display: flex;
  align-items: end;
}
.home__image-container--image-bg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.home .ordinateur {
  position: absolute;
  width: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-out;
  z-index: 1;
}
.home .astronaut {
  position: absolute;
  top: 400px;
  right: -100px;
  width: 30%;
  height: auto;
  object-fit: cover;
}
.home .moon {
  position: absolute;
  top: 100px;
  right: 1500px;
  width: 10%;
  height: auto;
  object-fit: cover;
  z-index: 0;
}
.home .earth {
  position: absolute;
  top: 700px;
  right: 650px;
  width: 12%;
  height: auto;
  object-fit: cover;
}

.about {
  display: flex;
}
.about__content {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  width: 50%;
}
.about__description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  width: 50%;
}
.about__image-container {
  width: 50%;
}
.about__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-out;
}

/* Footer */

/*# sourceMappingURL=style.css.map */
