@import "variables";
@import "mixins";
@import "reset";
@import "base";
@import "typography";
@import "animations";

/* Header */
#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 50px;

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo-link {
    display: block;
    height: 4.5rem;
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__nav-item {
    padding: 0 1rem;
    border-radius: $radius-medium;
    background-color: $background-color;
    @include neumorphism-shadow($shadow-depth, 330deg, 150deg);
  }

  &__nav-link {
    color: $platinum;
    font-family: "Dongle-Light", sans-serif;
    font-size: 1.8rem;
  }
}

/* Home */
.home {
  display: flex;
  background-image: url(../assets/images/home.jpg);
  color: $platinum;
  width: $width-full;

  &__content {
    text-shadow: 4px 4px 5px $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
  }

  &__title {
    font-family: "Allan-Regular", sans-serif;

    font-size: 5rem;

    &--description {
      font-family: "Nohemi", sans-serif;
      font-size: 2.5rem;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
  }

  &__image-container {
    position: relative;
    width: $width-middle;
    display: flex;
    align-items: end;

    &--image-bg-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .ordinateur {
    position: absolute;
    width: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-out;
    z-index: 1;
  }

  .astronaut {
    position: absolute;
    top: 400px;
    right: -100px;
    width: 30%;
    height: auto;
    object-fit: cover;
  }

  .moon {
    position: absolute;
    top: 100px;
    right: 1500px;
    width: 10%;
    height: auto;
    object-fit: cover;
    z-index: 0;
  }

  /*   .saturne {
    position: absolute;
    top: 300px;
    right: 1600px;
    width: 18%;
    height: auto;
    object-fit: cover;
  } */

  .earth {
    position: absolute;
    top: 700px;
    right: 650px;
    width: 12%;
    height: auto;
    object-fit: cover;
  }
}

.about {
  display: flex;

  &__content {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    width: $width-middle;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    width: $width-middle;
  }

  &__image-container {
    width: $width-middle;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-out;
  }
}

/* Footer */
