@import "variables";
@import "mixins";
@import "reset";
@import "base";
@import "typography";
@import "animations";

/* Header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    height: 50px;

    &__logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logo-link {
      display: block;
      height: 4rem;
    }

    &__logo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__nav {
      display: flex;
    }

    &__nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }

    &__nav-item {
      padding: 0 1rem;
      border-radius: $radius-medium;
      background-color: $background-color;
      @include neumorphism-shadow($shadow-depth, 330deg, 150deg);
    }

    &__nav-link {
      color: $platinum;
      font-family: "Chillax-Variable", sans-serif;
      font-size: 1rem;
    }
  }
}

.scrolled {
  background-color: hsla(210, 90%, 96%, 0);
  transition: background-color 0.6s ease-in-out;
  padding: 0;
}

/* Home */
.home {
  display: flex;
  /*   background-image: url(../assets/images/home.webp);
 */
  color: $platinum;
  width: $width-full;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__content {
    text-shadow: 4px 4px 5px $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
  }

  &__title {
    font-family: "Allan-Regular", sans-serif;

    font-size: 5rem;

    &--description {
      font-family: "Nohemi", sans-serif;
      font-size: 2.5rem;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
  }

  &__image-container {
    position: relative;
    width: $width-middle;
    display: flex;
    align-items: end;

    &--image-bg-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .ordinateur {
    position: absolute;
    top: 100px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-out;
    z-index: 1;
  }

  .astronaut {
    position: absolute;
    top: 100px;
    right: -100px;
    width: 30%;
    height: auto;
    object-fit: cover;
  }

  .moon {
    position: absolute;
    top: 100px;
    right: 500px;
    width: 10%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }

  /*   .saturne {
    position: absolute;
    top: 300px;
    right: 1600px;
    width: 18%;
    height: auto;
    object-fit: cover;
  } */

  .earth {
    position: absolute;
    top: 500px;
    right: 150px;
    width: 12%;
    height: auto;
    object-fit: cover;
  }
}

/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &__content {
    background-color: $platinum;
    color: $background-color;
    font-size: 2rem;
    padding: 2rem;
    border-radius: $radius-medium;
    width: $width-full;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__text {
    width: $width-middle;
    @include neumorphism-shadow($shadow-depth, 330deg, 150deg);
    padding: 1rem;
    border-radius: $radius-medium;
  }

  &__title {
    font-family: "Allan-Regular", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  &__description {
    font-family: "Chillax-Variable", sans-serif;
    font-size: 1.5rem;
  }

  &__image-container {
    height: 100%;
    position: relative;
  }

  &__image {
    max-height: 450px;
    width: auto;
    filter: drop-shadow(8px 15px 10px $background-color);
    transition: transform 0.1s ease-out;
  }

  .image2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-out;
  }
}

/* Skills */
.skills {
  &__content {
    background: rgba(255, 255, 255, 0.1);
    border-radius: $radius-large;
    padding: 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5rem auto;
    width: $width-big;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 60px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      transform: translateY(-10px);
      color: $light-sky-blue;
    }
  }

  &__title {
    font-family: "Allan-Regular", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  &__category {
    width: $width-full;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__title,
    &__title {
      font-family: "Chillax-Semibold", sans-serif;
      font-size: 1.5rem;
      margin-bottom: 25px;
      text-align: start;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #technology-list {
    display: flex;
    flex-wrap: wrap;
  }

  .progress-bars {
    width: $width-middle;
    position: relative;
  }

  &__tools {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: $width-full;
    margin-top: 3rem;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: $width-small;
    }

    &__list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
  /*   &__tools {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &__container {
      display: flex;
      flex-direction: column;
    }
  }

  &__container-list {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__button {
    position: absolute;
    z-index: 999;
    width: 43px;
    height: 43px;
    background: $purple;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background: #fff;
      transition: all 0.4s ease;
    }

    &:before {
      transform: rotate(90deg);
    }

    &:after {
      transform: rotate(0deg);
    }
  }

  &__nav {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    transform: translateY(0%);
    box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
    border: 1px solid #e4e4e4;
    padding: 10px;

    &__list {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    button {
      text-align: center;
      margin: 20px 0;
      color: $purple;
      background: none;
      border: none;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $light-purple;
      }
    }
  }

  &__tools__container {
    display: none;
    &.active {
      display: block;
    }
  }

  #toggle {
    -webkit-appearance: none;
    appearance: none;
  }

  #toggle:checked ~ .skills__nav {
    opacity: 1;
    transform: translateY(10%);
  }

  #toggle:checked ~ .skills__button:before {
    transform: rotate(225deg);
  }

  #toggle:checked ~ .skills__button:after {
    transform: rotate(135deg);
  } */
}

/* Projects */
.projects-list {
  /*   display: flex;
 */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  width: $width-full;

  &__project {
    /*     width: 300px;
 */
    margin-bottom: 20px;
    background-color: $background-color-light;
    border-radius: $radius-medium;
    @include neumorphism-shadow($shadow-depth, 330deg, 150deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(10deg) translateZ(20px);
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      transition: opacity 0.3s ease;
    }

    &:hover .overlay {
      opacity: 1;
    }
  }
}
