@import "variables";
@import "mixins";
@import "reset";
@import "base";
@import "typography";
@import "animations";

.main

/* Header */
#header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 50px;

  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo-link {
    display: block;
    height: 4.5rem;
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__nav-item {
    padding: 0 1rem;
    border-radius: $radius-medium;
    background-color: $background-color;
    @include neumorphism-shadow($shadow-depth, 330deg, 150deg);
  }

  &__nav-link {
    color: $platinum;
    font-family: "Chillax-Variable", sans-serif;
    font-size: 1rem;
  }
}

/* Home */
.home {
  display: flex;
  /*   background-image: url(../assets/images/home.jpg);
 */
  color: $platinum;
  width: $width-full;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__content {
    text-shadow: 4px 4px 5px $background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
  }

  &__title {
    font-family: "Allan-Regular", sans-serif;

    font-size: 5rem;

    &--description {
      font-family: "Nohemi", sans-serif;
      font-size: 2.5rem;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
  }

  &__image-container {
    position: relative;
    width: $width-middle;
    display: flex;
    align-items: end;

    &--image-bg-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .ordinateur {
    position: absolute;
    top: 100px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-out;
    z-index: 1;
  }

  .astronaut {
    position: absolute;
    top: 100px;
    right: -100px;
    width: 30%;
    height: auto;
    object-fit: cover;
  }

  .moon {
    position: absolute;
    top: 100px;
    right: 500px;
    width: 10%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }

  /*   .saturne {
    position: absolute;
    top: 300px;
    right: 1600px;
    width: 18%;
    height: auto;
    object-fit: cover;
  } */

  .earth {
    position: absolute;
    top: 500px;
    right: 150px;
    width: 12%;
    height: auto;
    object-fit: cover;
  }
}

/* About */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &__content {
    background-color: $platinum;
    color: $background-color;
    font-size: 2rem;
    padding: 2rem;
    border-radius: $radius-medium;
    width: $width-full;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__text {
    width: $width-middle;
    @include neumorphism-shadow($shadow-depth, 330deg, 150deg);
    padding: 1rem;
    border-radius: $radius-medium;
  }

  &__title {
    font-family: "Allan-Regular", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  &__description {
    font-family: "Chillax-Variable", sans-serif;
    font-size: 1.5rem;
  }

  &__image-container {
    height: 100%;
  }

  &__image {
    max-height: 450px;
    width: auto;
    filter: drop-shadow(8px 15px 10px $background-color);
    transition: transform 0.1s ease-out;
  }
}

/* Skills */
.skills {
  &__content {
    background-color: $background-color-light;
    margin: 5rem auto;
    width: $width-max;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-family: "Allan-Regular", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  &__category {
    width: $width-full;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* visibility: hidden; */

    &__technology {
      display: flex;
      flex-wrap: wrap;
    }

    &__title {
      font-family: "Chillax-Semibold", sans-serif;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*   .progression-container {
    width: $width-middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */

  .progress-bars {
    width: $width-middle;
    position: relative;
  }
}
